body,* {
  margin: 0;
  padding:0;
}
.head{
  display:flex;
  justify-content: center;
  padding:20px;
  background-color: rgb(15, 15, 59);
  color:whitesmoke;
}
.moviesList{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 35px;
  list-style: none;
  margin:20px;
  padding: auto 50px;
  justify-content: center;
  align-items: center;
}
.movies{
  width:200px;
  height:400px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 10px 10px 10px grey;
}
.image{
  width:200px;
  height:250px;
  border-radius: 5px;
}
.descrip{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap:8px;
}
.descrip h4{
  font-weight: 600;
  font-size: 26;
}
.descrip p{
  color:rgb(113, 111, 111);
  font-size: bolder;
  font-weight: 500;
}
.movies a{
  display:flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  background-color: rgb(99, 99, 163,0.8);
  width:70px;
  height:30px;
  text-decoration: none;
  margin-left:50px;
  color:black;
  border-radius: 15px;
  border:none;
  outline:none;
}
.movies a:hover{
  background-color: antiquewhite;
  color:black;
  transition: 1s;
}
.details-content{
  margin:30px;
  background-color: #F3F0CA;
}
.details{
  display:flex;
  gap:30px;
}
.details img{
  width:400px;
  height:480px;
  margin:10px;
}
.detail-decrip .headline{
  display:flex;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
  margin:10px auto;
}
.detail-decrip .headline span{
  font-size: 24px;
  font-weight: bolder;
}
.detail-decrip .subline{
  display:flex;
  gap:50px;
  padding: 10px;
}
.genresline{
  list-style: none;
}
.detail-decrip{
  display:flex;
  flex-direction: column;
  gap:10px;
  margin:50px;
  margin-left:30px;
}
.detail-decrip h4{
  font-family:Arial, Helvetica, sans-serif;
  color:grey;
}
